bin/
obj/
/packages/
riderModule.iml
/_ReSharper.Caches/
/.idea/.idea.dotbim/.idea/codeStyles/codeStyleConfig.xml
/.idea/.idea.dotbim/.idea/contentModel.xml
/.idea/.idea.dotbim/.idea/encodings.xml
/.idea/.idea.dotbim/.idea/indexLayout.xml
/.idea/.idea.dotbim/.idea/modules.xml
/.idea/.idea.dotbim/.idea/projectSettingsUpdater.xml
/.idea/.idea.dotbim/.idea/vcs.xml
/.idea/.idea.dotbim/.idea/workspace.xml

# Visual Studio 2015/2017 cache/options directory
.vs/